{{ define "main" -}}
<main class="main layout__main">
<header>
<h1 class="title">{{ .Title }}</h1>
</header>

{{ .Content }}

<div class="gallery">
  {{ range .Pages }}
    {{- $img := .Resources.GetMatch "cover.*" -}}
    {{ if $img }}
      {{- $small := $img.Resize "300x webp" -}}
      {{- $medium := $img.Resize "600x webp" -}}
      {{- $large := $img.Resize "900x webp" -}}
      <figure class="gallery__item">
        <a href="{{ .RelPermalink }}">
          <img
            src="{{ $small.RelPermalink }}"
            srcset="{{ $small.RelPermalink }} 300w, {{ $medium.RelPermalink }} 600w, {{ $large.RelPermalink }} 900w"
            sizes="(max-width: 400px) 300px, (max-width: 800px) 600px, 900px"
            alt="{{ .Title }}"
            loading="lazy"
          />
        </a>
        <figcaption>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ with .Params.tecnicas }}
            <span class="gallery__tecnicas">
              {{ range . }}
                <a href="{{ "/tecnicas/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
              {{ end }}
            </span>
          {{ end }}
          {{ with .Params.techniques }}
            <span class="gallery__tecnicas">
              {{ range . }}
                <a href="{{ "/techniques/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
              {{ end }}
            </span>
          {{ end }}
        </figcaption>
      </figure>
    {{ end }}
  {{ end }}
</div>
</main>
{{ end -}}
